body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #ffffff;
    color: rgb(49, 49, 49);
}

h1 {
    font-size: 24px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.gallery a {
    display: block;
}

.gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}